# Logs & system files
*.log
.DS_Store
Thumbs.db

# Environment
.env
.env.backup
.env.production

# IDE & editor configs
/.idea
/.vscode
/.fleet
/.nova
/.zed
.phpactor.json

# PHPUnit & testing
.phpunit.result.cache
/.phpunit.cache

# Composer & PHP
/vendor
/auth.json

# Node
/node_modules
npm-debug.log
yarn-error.log

# Laravel public build
/public/build
/public/hot
/public/storage

# Laravel storage
/storage/*.key
/storage/pail

# Laravel homestead
Homestead.json
Homestead.yaml

# Vagrant
/.vagrant

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific with custom public path
public_html/storage
public_html/hot
