/* 1. FONT & BODY (Sesuai Desain) */
/* -------------------------------------------------- */
body.poliklinik-theme {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: #F4F6F8;
    color: #374151; /* Tambahan: Warna teks default */
}
h1, h2, h3, h4, h5, h6,
.main-sidebar .brand-text,
.content-header h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.small-box h3,
.table td:nth-child(1) {
    font-family: 'Roboto Mono', monospace;
}